.App {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fefc01;
  height: 100vh
}

.app__body{
  display: grid;
  place-items: center;
  background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png") no-repeat center;
  background-size: contain;
  
  padding: 74px;

}

.app__logo{
  object-fit: contain;
  height: 100px;
}

.app__bodyBackground{
  background-color: white;
  
  
}


